@import "../../utils/variables";
.timer-container {
  width: $timer-width;
  float: left;
  .timer {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  .start {
    width: 100%;
  }
  .controls {
    .control {
      width: 45%;
      min-width: 0;
    }
    .restart {
      float: right;
    }
  }
  .stats {
    margin-top: 1rem;
    .written-stats {
      margin-bottom: 1rem;
      p {
        span {
          font-weight: 500;
        }
      }
    }
    .pomodoros {
      .pomodoro {
        width: $timer-width * 0.12;
        height: $timer-width * 0.12;
        border-radius: 100%;
        background-color: $primary;
        display: inline-block;
        margin: 0 $timer-width * 0.05;
        margin-bottom: 0.75rem;
      }
      .pomodoro:nth-child(5n) {
        margin-right: 0;
      }
      .pomodoro:nth-child(6n),
      .pomodoro:first-child {
        margin-left: 0;
      }
    }
  }
}
