@import "./variables";

@mixin typography {
  color: $font-color;
  font-family: Roboto;
}

.h1 {
  @include typography;
  font-size: 1.45rem;
  font-weight: 400;
}

.p {
  @include typography;
  font-size: 1rem;
}

.p-sm {
  @include typography;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
