@import "./variables";

@mixin typography {
  color: $font-color;
}

.p {
  @include typography;
  font-family: Roboto;
  font-size: 1rem;
}

.p-sm {
  @include typography;
  font-family: Roboto;
  font-size: 0.9rem;
}
