.h1 {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 1.45rem;
  font-weight: 400; }

.p {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 1rem; }

.p-sm {
  color: #3d3d3d;
  font-family: Roboto;
  line-height: 1.5rem;
  font-size: 0.9rem; }
