@import "../../utils/variables";
.timer-container {
  width: 10rem;
  .timer {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  .start {
    width: 100%;
  }
  .controls {
    .control {
      width: 45%;
      min-width: 0;
    }
    .restart {
      float: right;
    }
  }
}
